{
    "host": "irc_server",
    "port": 6667,
    "nick": "|new",
    "user": "|new",
    "nickserv": null,
    "channel": "#channel_name",
    "owner": "Your Name",
    "subreddit": "subredditname",
    "reddit_usrnm": "your_username",
    "woo_o": 300,
    "woo_c": 480,
    "karma_score": 1,
    "phrase": "gimmie"
}
